@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
    background: #000;
    color: #fff;
    font-size: 16px;
    font-family: 'Noto Serif', serif;
    margin: 0;
}

header {
    font-size: 1.5em;
    background: #222;
    padding: .25em;
}

main {
    font-size: 2em;
    padding: 1em 8px;
}

footer {
    text-align: center;
    padding: 20em 0 1.5em;
}
